

.TopApp-logo {
  height: 10vmin;
  pointer-events: none;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .TopApp-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Nav {
  background-color: #008f8f;
  width: 100%;
  text-align: left;
  top: 0;
  position: sticky;
  display: inline-block;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appheadercont , .appimgcont{
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  vertical-align: middle;
}

.appheadercont{
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.appheadercont:hover{
  background-color: midnightblue;
  color: whitesmoke;
  height: 100%;
  width: auto;
}

.appoverlay{
  opacity: 0;
  position: absolute;
  background-color: #282c34;
  height: 100%;
  min-width: 82px;
  top: 0;
  left: 0;
  transition: opacity .5s;
  text-align: center;
  vertical-align: middle;
}

.letterR{
  font-size: 1.5em;
}

.appoverlay:hover{
  opacity: 1;
  z-index: 1;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
